* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  min-height: 100vh;
  justify-content: center;
}

.product-list-container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.sidebar {
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
  height: 100vh;
}

.sidebar input[type="text"],
.sidebar input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-colors h4,
.filter-price h4 {
  margin-bottom: 10px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.color-box.selected {
  border: 2px solid black;
}

.sort-buttons {
  display: flex;
  flex-direction: column;
}

.sort-buttons button {
  margin-top: 10px;
  padding: 12px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sort-buttons button.active {
  background-color: #ffffff;
}

.sort-buttons button:not(.active):hover {
  background-color: #ffffff;
}

.product-content {
  flex-grow: 1;
  margin-left: 20px;
}

.product-content p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.product-info p {
  font-size: 16px;
  color: #777;
}

@media (max-width: 768px) {
  .product-list-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .product-content {
    margin-left: 0;
  }
}
